<h3 style="margin-top:0.5cm; margin-bottom: 0.5cm; text-align: center; font-family:'Times New Roman', Times, serif; color:#17A2B8;">
    <b><i> <img src = "../../assets/logo.png" alt = "Finzly Logo" height = "30" width = "40"  />
        Applied Loans</i></b></h3>

    <table class="table">
    <thead>
        <tr>
            <th>Customer Id</th>
            <th>Loan Amount</th>
            <th>Interest Rate</th>
            <th>Payment Frequency</th>
            <th>Payment Term</th>
            <th>Trade date</th>
            <th>Loan Start date</th>
            <th>Maturity date</th>
            <th> </th>
            <th>  </th>
            <th> </th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let loan of loans | paginate: { id: 'listing_pagination',
        itemsPerPage: 5,
        currentPage: page,
        totalItems: totalRecords }">
            <td>{{loan.customerId}}</td>
            <td>{{loan.loanAmount | currency:"₹"}}</td>
            <td>{{loan.interestRate}}</td>
            <td>{{loan.paymentFrequency}}</td>
            <td>{{loan.paymentTerm}}</td>
            <td>{{loan.tradeDate | date}}</td>
            <td>{{loan.loanStartDate | date}}</td>
            <td>{{loan.maturityDate | date}}</td>

           <!-- <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>-->
            <td><button (click)="viewLoan(loan.id)" class="btn btn-info">View Payment Schedule</button></td>
            <!--<td><button (click)="deleteTodo(todo.id)" class="btn btn-danger">Delete</button></td>-->
        </tr>
    </tbody>
</table>

<div class="container-fluid" style="position:relative; left: 35%;">
    <pagination-controls  id="listing_pagination" maxSize="5"
directionLinks="true"
(pageChange)="page = $event"></pagination-controls>
  </div>

  <div class="container" style="position: absolute;">
<button (click)="addLoan()" class="btn btn-success" style="width: 20%;">Apply For New Loan</button>
</div>

