

 <img src = "../../assets/finzly_cropped.png"
    alt = "Finzly Logo" height = "50" width = "150"  />  
     
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">  
            
            <ul class="nav justify-content-end">               
                
                <li class="nav-item"><p style="margin-bottom: auto; margin-top:auto;position: relative; left: 10px; color:white;font-family:'Times New Roman', Times, serif; font-size:0.7cm;"><b> Loan Application Portal</b></p></li>
                <li class="nav-item"><a style="margin-top:auto;position: relative; left: 900px; color:white;" class="nav-link" *ngIf='HardCodedAuthService.isLogedIn()' routerLink="/loans">Applied Loans</a></li>
                <li class="nav-item"><a style="color:white; position: relative; left: 900px; " class="nav-link" *ngIf='HardCodedAuthService.isLogedIn()' routerLink="/logout">Logout</a></li>
            </ul>
    
        </nav>